:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #306cd0;
  --ifm-color-primary-darker: #2d66c4;
  --ifm-color-primary-darkest: #2554a1;
  --ifm-color-primary-light: #538dec;
  --ifm-color-primary-lighter: #6297ed;
  --ifm-color-primary-lightest: #8eb3f3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #4da3ff;
  --ifm-color-primary-dark: #3394ff;
  --ifm-color-primary-darker: #268cff;
  --ifm-color-primary-darkest: #0074f0;
  --ifm-color-primary-light: #66b2ff;
  --ifm-color-primary-lighter: #73b9ff;
  --ifm-color-primary-lightest: #99cbff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__title {
  font-weight: bold;
}

.footer {
  padding: 4rem 0;
}
